@media screen and (max-width:1250px) {
    #hiscore{right: 54px;}
    #score{right: 110px;}
}
@media screen and (max-width:850px){
    #board{width: 65vw;  height: 70vh;  position:absolute;  top: 100px;  left: 40px;}
    .controller{display: flex;  bottom: 20px;  right: 12px;}
    #hiscore{right: 25px;}
    #score{right: 83px;}
}
@media screen and (max-width:550px){
    #hiscore{font-size: 30px;}
    #score{font-size: 30px; top: 50px;  right: 68px;}
    #board{width: 91vw; height: 55vh; top: 127px; left: 16px;}
    .controller{bottom: 7px;  right: 67px;}
    .controller button{width: 20vw; height: 8vh;}
    .spacebox{width: 20vw;}
}